{% extends "template.view.html" %}
{% block body%}
    <h1>DASHBOARD </h1>
    <a class="btn btn-primary" href="/create-post">Añadir post</a>
    <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">title</th>
                <th scope="col">body</th>
                <th scope="col">User</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
            {% for post in posts %}
              <tr>
                <th scope="row">{{ post.id }}</th>
                <td>{{ post.title }}</td>
                <td>{{ post.body|slice(0,80) }}</td>
                <td>{{ post.idUser}} </td>
                <td><a class="btn btn-success" href="/edit-post/{{post.id}}">editar</a></td>
                <td><a class="btn btn-danger" href="/delete-post/{{post.id}}">borrar</a></td>
              </tr>
            {% endfor %}
              </tbody>
          </table>


{%endblock%}